

@import "./variables.module.css";

.counter {
    display: flex;
    align-items: center;
    border: 2px solid var(--main-color-chocolate);
    margin-bottom: 20px;
}



:global(.main-content) {
    .counter {
        border-color: var(--main-color-aqua);
    }
    :global(.counter){
        color: var(--main-color)
    }
}

.button {
    font-size: 1.5rem;
    border-radius: 5px;
    border: 2px dotted var(--main-color-blue);
    width: 40px;
    height: 40px;
    background-color: var(--main-color-chocolate);
    outline: none;
    cursor: pointer;
    color: #fff;
    padding: 0px;
}

.button:active {
    opacity: 0.2;
    transform: scale(0.5);
}

.button.first {
    border-color: var(--main-color-blueviolet);
}

:global(.spanRotate) {
    font-size: 2rem;
    width: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    animation: rotate 2s linear infinite;
    background-color: var(--main-color-blueviolet);
    color: var(--main-color-white)
}

@media(min-width: 992px) {
    :global(.spanRotate) {
        background-color: var(--main-color-aqua);
    }
}

@keyframes rotate {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(100%);
    }
}